<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>行高</title>
    <style>
        div{
            font-size:50px;
            /* 
                行高(line height)：文字占有的实际高度
                    可以通过line-height来设置行高
                        行高可以直接指定一个大小(px em)
                        也可以直接指定一个整数，此时行高将会是字体size的倍数，默认值是1.33
                字体框
                    - 字体框就是字体存在的格子，设置font-size实际上就是设置字体框的高度
                行高会在字体框的上下平均分配
                可以将行高设置为和高度一样的值，使单行文字在一个元素中垂直居中
            */
            border:1px red solid;
        }
    </style>
</head>
<body>
    <div>今天天气真不错</div>
</body>
</html>