<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>ali图标库</title>
    <link rel="stylesheet" href="./iconfont/iconfont.css">
    <style>
        i.iconfont {
            font-size: 100px;
        }
        p::before {
            content:'\e6b3';
            font-family: "iconfont";
            font-size:100px;
        }
    </style>
</head>

<body>
    <!-- 
        https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=1964660
        另外，阿里的图标库管理是以项目为单位的，在网站上先添加购物车，然后添加到项目，再下载到本地
        去掉demo，然后放入项目目录即可使用
        fontawesome的使用方法类似
        也是需要在网站上查询相应图标的类名或者相应代码
     -->
    <!-- 通过实体来使用图标 -->
    <i class="iconfont">&#xe6b2;</i>
    <!-- 通过类来使用图标 -->
    <i class="iconfont iconincrease"></i>
    <!-- 伪元素的使用方式 -->
    <p></p>

</body>

</html>